/* From Uiverse.io by Tsiangana */
nav {
  position: sticky;
}

/* Button for download Cv */
.botao {
  width: 125px;
  height: 40px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px rgba(242, 96, 96, 0.941);
  padding: 5px 5px;
  background-color: red;
  color: #050404;
  font-family: "Freckle Face", sans-serif;
  font-weight: 505;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.823));
  transition: 0.5s linear;
}

.botao .mysvg {
  display: none;
}

.botao:hover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.5s linear;
}

.botao:hover .texto {
  display: none;
}

.botao:hover .mysvg {
  display: inline;
}

.botao:hover::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 3px;
  background-color: rgb(104, 9, 9);
  margin-left: -20px;
  animation: animate 0.9s linear infinite;
}

.botao:hover::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3.5px solid transparent;
  border-top: 3.5px solid #fff;
  border-right: 3.5px solid #fff;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(20px);
  }
}





/* Button to go to an specific page */

.btn-uid {
  font-size: 1rem;
  color: #fafafa;
  text-transform: uppercase;
  padding: 10px 10px;
  border-radius: 10px;
  border: 2px solid #5b0000;
  background: #252525;
  box-shadow: 3px 3px hsl(0, 98%, 24%);
  cursor: pointer;
  margin: 35px 0;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

/* Codepen button Skills */

.codepen-button {
  text-decoration: none;
  background-color: #000000;
  padding: 8px 20px;
  border-radius: 10px;
  border-bottom: 5px solid transparent;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.codepen-button:hover {
  text-decoration: none;
  filter: brightness(110%);
  color: rgb(255, 255, 255);
  border-bottom: 5px solid red;
  box-shadow: -9px 10px 61px 9px rgba(250, 0, 0, 0.51);
  -webkit-box-shadow: -9px 10px 61px 9px rgba(250, 0, 0, 0.51);
  -moz-box-shadow: -9px 10px 61px 9px rgba(250, 0, 0, 0.51);
  cursor: pointer;

}

.codepen-button:active {
  text-decoration: none;
  filter: brightness(90%);
  transform: translateY(2px);
  color: red;
  border-bottom: 5px solid red;
  cursor: pointer
}

/* See more Projects Button */
.see-more {
  margin-top: 70px;
  background-color: #000000;
  font-size: 18px;
  padding: 8px 40px;
  border-radius: 10px;
  border: none;
  border-bottom: 5px solid transparent;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;

}

.see-more .link-seemore {
  text-decoration: none;
  color: white;
}

.see-more:hover {

  filter: brightness(110%);
  color: rgb(255, 255, 255);
  border-bottom: 5px solid red;
  box-shadow: -9px 10px 61px 9px rgba(250, 0, 0, 0.51);
  -webkit-box-shadow: -9px 10px 61px 9px rgba(250, 0, 0, 0.51);
  -moz-box-shadow: -9px 10px 61px 9px rgba(250, 0, 0, 0.51);
  cursor: pointer;
}

.get-in-touch {
  margin-top: 20px;
  background-color: #000000;
  font-size: 18px;
  padding: 8px 40px;
  border-radius: 10px;
  border: none;
  border-bottom: 5px solid transparent;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.get-in-touch:hover {
  filter: brightness(110%);
  color: rgb(255, 255, 255);
  border-bottom: 5px solid red;
  box-shadow: -9px 10px 61px 9px rgba(250, 0, 0, 0.51);
  -webkit-box-shadow: -9px 10px 61px 9px rgba(250, 0, 0, 0.51);
  -moz-box-shadow: -9px 10px 61px 9px rgba(250, 0, 0, 0.51);
  cursor: pointer;
}



/* Button of the login */

.form-container .form .button-container .login-button-container {
  filter: drop-shadow(1px 1px 0px #c60000);
  flex-basis: 100%;
}

.form-container .form .button-container .login-button-container .login-button {
  position: relative;
  text-align: center;
  padding: 10px;
  color: #c60000;
  font-weight: bold;
  background: #000000;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.form-container .form .button-container .login-button-container .login-button:hover {
  background: #c60000;
  color: #000;
}