.card {
    margin-top: 20px;
    padding: 10px;
    max-width: 700px;
    height: 250px;
    border-radius: 20px;
    background: #171717;
    box-shadow: -9px 5px 61px -10px #001d3d;
    -webkit-box-shadow: -9px 5px 61px -10px #001d3d;
    -webkit-box-shadow: -9px 5px 61px -10px 001d3d;
    -moz-box-shadow: -9px 5px 61px -10px #001d3d;
    transition: 0.4s;

}

.card:hover {
    translate: 0 -10px;
}

.card-title {
    font-size: 24px;
    font-weight: 600;
    color: #b2eccf;
    margin: 15px 0 0 10px;
}

.card-image {
    min-height: 170px;
    background-color: #313131;
    border-radius: 15px;
    background: #313131;
    box-shadow: inset 5px 5px 3px #2f2f2f,
        inset -5px -5px 3px #333333;
}

.card-body {
    margin: 13px 0 0 10px;
    color: rgb(184, 184, 184);
    font-size: 18px;
}

.footer {
    float: right;
    margin: 28px 0 0 18px;
    font-size: 13px;
    color: #b3b3b3;
}

.by-name {
    font-weight: 700;
}

.card-projects {
    margin-top: 80px;
}