/* From Uiverse.io by Smit-Prajapati */
.orange {
    color: #ff0101;
}

#contact-me h1 {
    color: #4a4e69;
    font-weight: bold;
}

.form-container {
    max-width: 700px;
    margin: 30px;
    background-color: #000000;
    padding: 30px;
    border-left: 5px solid #003049;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.heading {
    display: block;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.form-container .form .input {
    color: #ffffff;
    width: 100%;
    background-color: #000304;
    border: 1px #003049 solid;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid transparent;
}

.form-container .form .input:focus {
    border-left: 5px solid #003049;
}

.form-container .form .textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #000304;
    border: 1px #003049 solid;
    color: #3554eede;
    font-weight: bold;
    resize: none;
    max-height: 150px;
    margin-bottom: 20px;
    border-left: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.form-container .form .textarea:focus {
    border-left: 5px solid #003049;
}

.form-container .form .button-container {
    display: flex;
    gap: 10px;
}

.form-container .form .button-container .send-button {
    flex-basis: 70%;
    background: #003049;
    padding: 10px;
    color: #000000;
    text-align: center;
    font-weight: bold;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.form-container .form .button-container .send-button:hover {
    background: transparent;
    border: 1px solid #003049;
    color: #3554eede;
}

.form-container .form .button-container .reset-button-container {
    filter: drop-shadow(1px 1px 0px #003049);
    flex-basis: 30%;
}

.form-container .form .button-container .reset-button-container .reset-button {
    position: relative;
    text-align: center;
    padding: 10px;
    color: #3554eede;
    font-weight: bold;
    background: #000000;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.form-container .form .button-container .reset-button-container .reset-button:hover {
    background: #003049;
    color: #000;
}