@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');


body {

    font-family: 'Atma', cursive;

    width: 100%;
    height: 100%;
    background-color: #111111;
    background-image: linear-gradient(32deg,
            rgba(8, 8, 8, 0.74) 30px,
            transparent);
    background-size: 60px 60px;
    background-position: -5px -5px;
}

navbar {
    color: #003049;
}

/* .profile-picture img {
    border-radius: 50%;
    border: 5px solid red;
} */

/* To set the footer to the bottom + margin-top: auto in footer css */
.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-about {
    font-size: 22px;
}

.link-aboutme {
    text-decoration: none;
    color: #000000;
    background-color: rgb(130, 7, 7);
    border-radius: 5px;
    padding: 5px 5px;
    font-weight: bold;
}

.link-aboutme:hover {
    padding: 5px 5px;
    text-decoration: none;
    color: rgb(130, 7, 7);
    background-color: #000000;
    border-radius: 5px;
    cursor: pointer;

}

textarea {
    resize: none;
    field-sizing: content;
}


.projects {
    font-size: 22px;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);

    /* Borde blanco semitransparente */
}

.navbar-toggler-icon {
    background-image: none;
    /* Elimina el icono predeterminado */
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: white;
    /* Cambia el color de las líneas */
    position: relative;
    transition: all 0.3s ease-in-out;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
    /* Mismo color para las líneas superior e inferior */
    left: 0;
    transition: all 0.3s ease-in-out;
}

.navbar-toggler-icon::before {
    top: -10px;
}

.navbar-toggler-icon::after {
    top: 10px;
}