nav {
    background-color: #669bbc;
    color: #003049;
}

.navd-link {
    text-decoration: none;
    color: #003049;
    font-weight: bold;
}

.navd-link:hover {
    color: #4b4b4b;
}

.container {
    font-size: 16px;
}


.container:hover {
    cursor: pointer;

}