.navd-link {
    text-decoration: none;
    color: #fcf7f7;
    font-weight: bold;
}

.navd-link:hover {
    color: #4b4b4b;
}

.container {
    font-size: 22px;
}


.container:hover {
    cursor: pointer;

}